.usersListContainer {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: max(20vw, 350px);
  max-height: max(80vh, 400px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 1000;
  backdrop-filter: blur(25px);
  & input {
    color: #fff;
    border-radius: 10px;
   background: rgba(255, 255, 255, 0.2);
  }
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  & h3 {
    font-size: max(0.9vw, 24px);
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px auto 15px;
  }
  &-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    color: rgba($color: #fff, $alpha: 0.4);
    & .selectedMenu {
      color: #fff;
    }
  }
}
.input-container {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  & ion-icon {
    font-size: 30px;
    cursor: pointer;
  }
}
label {
  font-size: 0.9em;
}
input[type=checkbox] {
  border-radius: 50%;
  accent-color: #34495e;
}
.inputFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.hidden {
  display: none;
}
.cardListContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animationContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  overflow: scroll;
}
.addUsers {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cityContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #161523;
  border: 1px solid white;
  z-index: 500;
  border-radius: 10px;
  & li {
    margin-bottom: 10px;
    &:hover {
      color: #2196f3;
      scale: 1.02;
      cursor: pointer;
    }
  }
}