.opener {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161523;
  z-index: 1000;
  & img {
    position: absolute;
    width: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & svg {
    width: 50vw;
  }
}